* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: black
}

canvas {
   position: absolute;
  /* cursor: none; */
}

h1 {
  color: white;
}

#state {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  padding: 5px;
  top: 0px;
  left: 0px;
  user-select: none;
  background: rgba(255, 255, 255, 0.8);
  min-width: 160px;
  z-index: 999999;
}
